* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #3b3b3a;
  background: #fff;
  text-rendering: optimizeLegibility;
}
h1 {
  font-style: italic;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
li {
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  width: 150px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.containers {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
}
main {
  margin: 60px;
}
.image {
  padding: 20px;
}
.snake {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cat {
  width: 700px;
  object-fit: cover;
}
.container5 {
  flex-wrap: wrap;
}
.interiors {
  width: 50%;
}
/* pesudo element */
.image:hover {
  background-color: #3b3b3a9c;
  transition: all 0.6s ease-out;
}
li:hover {
  background: #e6e6e26e;
  transition: all 0.6s ease-out;
}
@media screen and (max-width: 500px) {
  .containers {
    display: flex;
    flex-direction: column;
  }
  main {
    margin: 10px;
  }
  .interiors {
    width: 100%;
    height: 100%;
  }
  nav {
    overflow-x: scroll;
  }
  li {
    font-size: 15px;
    height: 30px;
    border: #fff;
  }
  .cat {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .containers {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main {
    margin: 30px;
  }
  li {
    font-size: 15px;
    border: #fff;
  }
  .pose,
  .natures {
    width: 100%;
  }
  .food {
    width: 100%;
    object-fit: cover;
  }
}
